<config xmlns="http://tail-f.com/ns/config/1.0">
    <devices xmlns="http://tail-f.com/ns/ncs">
        <authgroups>
            <group>
                <name>NSO_Devices</name>
                <default-map>
                    <remote-name>{{ hostvars[groups.nso_devices[0]]['ansible_user'] }}</remote-name>
                    <remote-password>{{ hostvars[groups.nso_devices[0]]['ansible_password'] }}</remote-password>
                </default-map>
            </group>
        </authgroups>
{% for device in groups.nso_devices %}
        <device>
            <name>{{ hostvars[device]['inventory_hostname'] }}</name>
{% if hostvars[device]['mgmt_ip'] | default('dhcp',true) == 'dhcp' %}
            <address>{{ hostvars[device]['ansible_host'] }}</address>
{% else %}
            <address>{{ hostvars[device]['mgmt_ip'] | ipaddr('address') }}</address>
{% endif %}
            <authgroup>NSO_Devices</authgroup>
            <device-type>
                <cli>
                    <ned-id xmlns:{{hostvars[device]['nso_ned_id']}}="http://tail-f.com/ns/ned-id/{{hostvars[device]['nso_ned_id']}}">{{hostvars[device]['nso_ned_id']}}:{{hostvars[device]['nso_ned_id']}}</ned-id>
                </cli>
            </device-type>
            <state>
                <admin-state>unlocked</admin-state>
            </state>
        </device>
{% endfor %}
    </devices>
</config>
