hostname {{ inventory_hostname.split('.')[0] }}
ip domain name {{ domain_name | default('local') }}
{% if banner_motd is defined %}
banner motd ^C{{ banner_motd }}^C
{% endif %}{# banner_motd is defined #}
!