#cloud-config
password: {{ ansible_password }}
chpasswd: { expire: False }
ssh_pwauth: True
{% if admin_key is defined %}
ssh_authorized_keys:
  - {{ admin_key }}
{% endif %}
hostname: {{ inventory_hostname }}
apt:
  preserve_sources_list: false
  primary:
    - arches:
        - default
      uri: 'http://us.archive.ubuntu.com/ubuntu'
      search_dns: true
  security:
    - arches:
        - default
      uri: 'http://us.archive.ubuntu.com/ubuntu'
      search_dns: true
{% if interfaces is defined or static_routes is defined or host_ip is defined %}
runcmd:
{%  if host_ip is defined %}
 - sudo ip address add {{ host_ip }} dev {{ host_interface | default('eth0') }}
 - sudo ip link set dev {{ host_interface | default('eth0') }} up
{%   if host_gateway is defined %}
 - sudo ip route add default via {{ host_gateway }}
{%   endif %}
{%  endif %}
{%  if interfaces is defined %}
{%   for key, value in interfaces.items() %}
{%     if value.enabled is defined and value.enabled is sameas true %}
{%       if value.ip is defined and value.ip.primary is defined %}
 - sudo ip address add {{ value.ip.primary }} dev {{ key }}
 - sudo ip link set dev {{ key }} up
{%       else %}
 - sudo dhclient {{ key }}
{%       endif %}
{%     endif %}
{%   endfor %}
{%  endif %}
{%  if static_routes is defined %}
{%   for route, value in static_routes.items() %}
{%    if value.next_hop is defined %}
 - sudo ip route add {{ route }} via {{ value.next_hop }}
{%    endif %}
{%   endfor %}
{%  endif %}
{% endif %}