hostname {{ inventory_hostname }}
vrf definition Mgmt-intf
!
address-family ipv4
exit-address-family
!
address-family ipv6
exit-address-family
!
username {{ ansible_user }} privilege 15 secret 0 {{ ansible_password }}
no aaa new-model
ip domain-name mdd.cisco.com
!
interface {{ mgmt_interface }}
no switchport
vrf forwarding Mgmt-intf
ip address dhcp
negotiation auto
no shutdown
!
ip http server
ip http secure-server
ip http max-connections 2
!
ip ssh time-out 60
ip ssh version 2
ip ssh server algorithm encryption aes128-ctr aes192-ctr aes256-ctr
ip ssh client algorithm encryption aes128-ctr aes192-ctr aes256-ctr
!
line vty 0 4
exec-timeout 30 0
absolute-timeout 60
session-limit 16
login local
transport input ssh
!
end