#jinja2: lstrip_blocks: True, trim_blocks: True
{% include 'ios/cli/system.j2' %}
!
username {{ ansible_user }} privilege 15 secret {{ ansible_password }}
crypto key generate rsa modulus 2048
!
vrf definition Mgmt-intf
 address-family ipv4
 exit-address-family
 address-family ipv6
 exit-address-family
!
{# ---------- #}
{# Interfaces #}
{# ---------- #}
{% include 'ios/cli/interfaces.j2' %}
!
{# ------------- #}
{# Static Routes #}
{# ------------- #}
{% include 'ios/cli/static-routes.j2' %}
!
{# ----------------- #}
{# Routing Protocols #}
{# ----------------- #}
{# --- #}
{# BGP #}
{# --- #}
{% include 'ios/cli/bgp.j2' %}
!
{# ---- #}
{# OSPF #}
{# ---- #}
{% include 'ios/cli/ospf.j2' %}
!
{# --- #}
{# DNS #}
{# --- #}
{% include 'ios/cli/dns.j2' %}
!
{# --- #}
{# NTP #}
{# --- #}
{% include 'ios/cli/ntp.j2' %}
!
line vty 0 4
 login local
 transport input ssh
exit