---
name: Build and Push Container
on:
  push:
    branches:
      - main
    tags:
      - '*'
  
  workflow_dispatch:
    inputs:
      tag:
        description: 'Image Tag'     
        required: true
        default: 'latest'
env:
  TAG: ghcr.io/${{ github.repository }}:latest

jobs:
  push-and-tag:
    name: Deploy containers to GHCR
    runs-on: ubuntu-latest
    steps:
      - name: Checking out the repository
        uses: actions/checkout@v2

      - name: Login to IRONBANK Container Registry
        uses: docker/login-action@v1
        with:
          registry: ${{ secrets.IRONBANK_REGISTRY }}
          username: ${{ secrets.IRONBANK_USERNAME }}
          password: ${{ secrets.IRONBANK_PASSWORD }}

      - name: Build Container
        uses: docker/build-push-action@v2
        with:
          context: .
          file: Dockerfile
          load: true
          tags: ${{ env.TAG }}

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ secrets.MDD_GITHUB_ACTION_USERNAME }}
          password: ${{ secrets.MDD_GITHUB_ACTION_TOKEN }}

      - name: Push Container
        uses: docker/build-push-action@v2
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ${{ env.TAG }}