---
name: CD
on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - 'mdd-data/**.yml'
      - 'mdd-data/**.yaml'

env:
  CML_PASSWORD: ${{ secrets.CML_PASSWORD }}
  CML_LAB: ${{ secrets.CML_LAB }}
  CML_USERNAME: ${{ secrets.CML_USERNAME }}
  CML_HOST: ${{ secrets.CML_HOST }}
  CML_VERIFY_CERT: ${{ secrets.CML_VERIFY_CERT }}

jobs:
  deploy:
    runs-on: self-hosted
    environment: mdd-dev
    concurrency: mdd-dev
    container:
      image: ghcr.io/model-driven-devops/mdd:latest
    steps:
      - name: Checkout Inventory
        uses: actions/checkout@v2
      - name: Update Devices
        run: ansible-playbook ciscops.mdd.nso_update_devices
      - name: Deploy Changes
        run: ansible-playbook ciscops.mdd.nso_update_oc -e dry_run=no
      - name: Run Checks
        run: ansible-playbook ciscops.mdd.check
